**/__pycache__
Bench
wandb
checkpoint
datasets
submit
pretrained_models
/output/
.vscode/
config/accelerate_config.yaml
config/ds_config_zero3.json
config/ds_config.json
config/project.json
/sync_models/
0.nii.gz
amos_0001.nii.gz
amos_7284.nii.gz
amos_evaluation_results.txt
