{
    "ollama_model": "qwen2.5:32b",
    "openai_server": {
        "base_url": "https://api.siliconflow.cn/v1",
        "api_key": "sk-njnlfiszqbrbdmffearogkutycgnhteqxjltsbzhglejljzo",
        "model_name": "Qwen/Qwen2.5-32B-Instruct"
    },
    "amos_mm_dataset": {
        "origin_data_file": "datasets/AMOS-MM/dataset.json",
        "rewrite_output_file": "output/amos_mm_raw.jsonl",
        "qa_output_file": "output/amos_mm_qa.jsonl"
    }
}